.filter-translatable__source-text iframe,
.filter-translatable__translation iframe {
        max-width: 100%;
}

.filter-translatable__translation .translatable-editor {
    border: 1px solid #bbb;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    resize: both;
    overflow: auto;
}

.translatable-content ul li:last-child {
    border-bottom: 0 !important;
}