
<div class="translatable-content" data-course-id="{{course.id}}" data-wstoken="{{wstoken}}">

    <div class="container-fluid">
        <div class="row">
            <form class="col-4 px-0">
                <div class="form-group">
                    <label for="select-target-language">Select Target Language</label>
                    <select name="select-target-language" class="translatable-locale-switcher form-control">
                        {{#langs}}
                            <option value="{{code}}" {{selected}}>{{lang}}</option>
                        {{/langs}}
                    </select>
                </div>
            </form>
            <div class="col-4"></div>
            <div class="col-4 px-0">
                <p class="text-right">Total Word Count: {{wordcount}}</p>
            </div>
        </div>
    </div>

    <ul class="container-fluid">
        <li class="row align-items-start border-bottom py-3 bg-primary text-white">
            <div class="col-1">ID</div>
            <div class="col-5 px-0">Source Text</div>
            <div class="col-6 px-0 pl-5">{{lang}} Translation</div>
        </li>

        {{#translatables}}
            <li class="row align-items-start border-bottom py-3">
                <div class="col-1">{{id}}</div>
                <div class="col-5 px-0 filter-translatable__source-text">{{{sourcetext}}}</div>
                <div class="col-6 px-0 pl-5 filter-translatable__translation">
                    <div class="format-{{textformat}} translatable-editor" contenteditable="true" data-id="{{id}}">{{{translation}}}</div>
                </div>
            </li>
        {{/translatables}}
    </ul>

</div>